{# Included above forms to print errors easily #}
{% macro print_errors(errors) %}

    {% if errors is not empty %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissable alert-danger">
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% macro form_field(type, name, label, value, placeholder) %}
    <div class="form-group">
        <label for="form-{{ name }}" class="control-label">{{ label }}</label>
        {% if type == 'textarea' %}
            <textarea name="{{ name }}" class="form-control" id="form-{{ name }}" placeholder="{{ placeholder }}">{{ value }}</textarea>
        {% else %}
            <input type="{{ type }}" class="form-control" id="form-{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}" />
        {% endif %}
    </div>
{% endmacro %}

{% macro flashMessage(messages, isPositive) %}
    <div class="alert alert-warning flash-message">
        {% if isPositive %}
            <i class="fa fa-bolt"></i>
        {% else %}
            <i class="fa fa-exclamation-triangle"></i>
        {% endif %}

        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endmacro %}