{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1>Battle between {{ programmer.nickname }} and {{ project.name }}</h1>

    <h3>Winner: {{ battle.didProgrammerWin ? programmer.nickname : project.name }}</h3>

    <div>
        {{ battle.notes }}
    </div>

    {% if programmer.userId == app.user.id %}
        <div style="margin-top: 20px;">
            <a class="btn btn-small btn-primary" href="{{ path('programmer_show', {'nickname': programmer.nickname}) }}">Fight again</a>
        </div>
    {% endif %}
{% endblock %}
