{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1>Start Fighting some Projects!</h1>

    {% if errors is defined %}
        {{ macros.print_errors(errors) }}
    {% endif %}

    <div class="row">
        <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
            <fieldset>
                {{ macros.form_field('email', 'email', 'Email', user.email, 'foo@example.com') }}
                {{ macros.form_field('text', 'username', 'Username', user.username, 'superman') }}
                {{ macros.form_field('password', 'password', 'Password', user.plainPassword, '') }}

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Do it!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
<div>
{% endblock %}
