{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1>Choose a programmer</h1>
    <hr>
    <ul class="programmers-list">
        {% for programmer in programmers %}
            <li>
                <a href="{{ path('programmer_show', {'nickname': programmer.nickname}) }}">{{ programmer.nickname }} </a><br>
                <a class="programmers-list-img"href="{{ path('programmer_show', {'nickname': programmer.nickname}) }}"><img src="{{ asset(programmer.avatarNumber|avatar_path) }}" alt="Avatar{{ programmer.avatarNumber }}" /></a>
                
            </li>
        {% endfor %}
    </ul>
    <div class="choose-button">
    <a class="btn btn-small btn-surrender" href="{{ path('homepage') }}">Retreat</a>
    </div>

{% endblock %}
