{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1 class="nickname">{{ programmer.nickname }}</h1>
    <div class="prog-level">{{ programmer.tagLine }}</div>
	<img class="prog-show" src="{{ asset(programmer.avatarNumber|avatar_path) }}" alt="Avatar{{ programmer.avatarNumber }}" />
    <h3 class="show-power">
        Power Level:

        <span class="label label-{{ programmer|powerLevelClass }}">
            {{ programmer.powerLevel }}
        </span>
    </h3>
    {% if programmer.userId == app.user.id %}
        <form action="{{ path('programmer_powerup', {'nickname': programmer.nickname }) }}" method="POST">
            <div class="battle-btns">
                <button type="submit" class="btn btn-lg btn-power">Power Up!</button>
                <button class="btn btn-lg btn-start-battle" type="button" data-toggle="modal" data-target="#chooseProject">Start Battle!</button>
            </div>
        </form>

        <div class="modal fade" id="chooseProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose your enemy</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="projects-list">
                            {% for project in projects %}
                                <li>
                                    <form action="{{ path('battle_new') }}" method="POST">
                                        <input type="hidden" name="programmer_id" value="{{ programmer.id }}" />
                                        <input type="hidden" name="project_id" id="js-receive-project-id" value="{{ project.id }}" />

                                        <input type="submit" class="btn btn-lg btn-enemy js-select-battle-project" data-project="{{ project.id }}" value="{{ project.name }} (difficulty: {{ project.difficultyLevel }})" />
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Surrender</button>
                        <button type="button" class="btn btn-start-battle js-start-battle">Start Battle! </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var $modal = $('#chooseProject');

            // when we submit, this updates the hidden project_id field
            $modal.on('click', '.js-select-battle-project', function() {
                var selectedProjectId = $(this).data('project');

                $modal.find('#js-receive-project-id').val(selectedProjectId);

                var $startBattleButton = $modal.find('.js-start-battle');
                $startBattleButton.attr('disabled');
                $startBattleButton.html('Battle Commencing...');
            });
        })
    </script>
{% endblock %}