{% extends "layout.twig" %}
{% import '_macros.twig' as macros %}

{% block content %}
    <h1 class="nickname">{{ programmer.nickname }}</h1>
    <div class="prog-level">{{ programmer.tagLine }}</div>
	<img class="prog-show" src="{{ asset(programmer.avatarNumber|avatar_path) }}" alt="Avatar{{ programmer.avatarNumber }}" />
    <h3 class="show-power">
        Power Level:

        <span class="label label-{{ programmer|powerLevelClass }}">
            {{ programmer.powerLevel }}
        </span>
    </h3>
    {% if programmer.userId == app.user.id %}
        <form action="{{ path('programmer_powerup', {'nickname': programmer.nickname }) }}" method="POST">
            <div class="battle-btns">
                <button type="submit" class="btn btn-lg btn-power">Power Up!</button>
                <button class="btn btn-lg btn-start-battle" type="button" data-toggle="modal" data-target="#chooseProject">Start Battle!</button>
            </div>
        </form>

        <div class="modal fade" id="chooseProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Choose your enemy</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="projects-list">
                            {% for project in projects %}
                                <li>
                                    <form action="{{ path('battle_new') }}" method="POST">
                                        <input type="hidden" name="programmer_id" value="{{ programmer.id }}" />
                                        <input type="hidden" name="project_id" value="{{ project.id }}" />

                                        <input type="submit" class="btn btn-lg btn-enemy js-select-battle-project" value="{{ project.name }} (difficulty: {{ project.difficultyLevel }})" />
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="js-progress-messages battle-progress-message"></div>
                    <div class="progress progress-striped active js-battle-status" style="display: none;">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Surrender</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var Battle = function($modal) {
            this.initialize($modal);
        };

        $.extend(Battle.prototype, {
            messages: [
                'Cloning the repository',
                'Stting through some planning meetings',
                'Running Composer install',
                'Working into the night on the search feature',
                'Writing tests'
            ],

            initialize: function($modal) {
                this.$modal = $modal;

                this.$modal.on(
                    'click',
                    '.js-select-battle-project',
                    $.proxy(this._handleBattleStart, this)
                );
            },

            startBattle: function($form) {
                var self = this;

                var $battleButtons = this.$modal.find('.js-select-battle-project');
                $battleButtons.attr('disabled');

                var $progressBar = this.$modal.find('.js-battle-status');
                var $movingBar = $progressBar.find('.progress-bar');
                $progressBar.show();

                var $messages = this.$modal.find('.js-progress-messages');
                var messages = this.messages;

                var max = 5;
                (function loopOverMessages (i) {
                   setTimeout(function () {
                       $messages.html(messages[max-i]);
                       $movingBar.width((100/max*(max-i))+'%');
                       if (i--) {
                           loopOverMessages(i);
                       } else {
                           self.finishBattle($form);
                       }
                   }, 300)
                })(max);
            },

            finishBattle: function($form) {
                var $messages = this.$modal.find('.js-progress-messages');
                $messages.html('Battle Concluded!');

                $form.submit();
            },

            _handleBattleStart: function(e) {
                e.preventDefault();
                $form = $(e.currentTarget).closest('form');

                this.startBattle($form);
            }
        });

        $(document).ready(function() {
            var $modal = $('#chooseProject');

            var battle = new Battle($modal);
        })
    </script>
{% endblock %}